footer.footer
  div.footer_inner
    div.logo_social.foot-1.ord-1
      div
        h2(href='#') HAYAT Aile Danışmanlık Merkezi
      ul
        li
          a(
            href='https://www.twitter.com/hayat_aile'
            target='_blank'
            rel='nofollow noopener')
            svg(
              xmlns='http://www.w3.org/2000/svg'
              viewBox='0 0 16 16'
              id='twitter'
              width='25px'
              height='25px'
            )
              path(
                style='fill: #ffffff'
                d='M16 3.539a6.839 6.839 0 0 1-1.89.518 3.262 3.262 0 0 0 1.443-1.813 6.555 6.555 0 0 1-2.08.794 3.28 3.28 0 0 0-5.674 2.243c0 .26.022.51.076.748a9.284 9.284 0 0 1-6.761-3.431 3.285 3.285 0 0 0 1.008 4.384A3.24 3.24 0 0 1 .64 6.578v.036a3.295 3.295 0 0 0 2.628 3.223 3.274 3.274 0 0 1-.86.108 2.9 2.9 0 0 1-.621-.056 3.311 3.311 0 0 0 3.065 2.285 6.59 6.59 0 0 1-4.067 1.399c-.269 0-.527-.012-.785-.045A9.234 9.234 0 0 0 5.032 15c6.036 0 9.336-5 9.336-9.334 0-.145-.005-.285-.012-.424A6.544 6.544 0 0 0 16 3.539z'
              )
        li
          a(
            href='https://www.instagram.com/hayatdanismanliktr'
            target='_blank'
            rel='nofollow noopener')
            svg.svg-inline--fa.fa-instagram.fa-w-14(
              aria-hidden='true'
              focusable='false'
              data-prefix='fab'
              data-icon='instagram'
              role='img'
              width='25px'
              height='25px'
              xmlns='http://www.w3.org/2000/svg'
              viewBox='0 0 448 512'
            )
              path(
                fill='currentColor'
                d='M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z')
        li
          a(
            href='https://www.youtube.com/@hayatailevebireyseldansman8225'
            target='_blank'
            rel='nofollow noopener'
          )
            svg(
              height='25px'
              width='25px'
              version='1.1'
              id='Layer_1'
              xmlns='http://www.w3.org/2000/svg'
              xmlns:xlink='http://www.w3.org/1999/xlink'
              viewBox='0 0 461.001 461.001'
              xml:space='preserve'
            )
              g
                path(
                  style='fill: #ffffff'
                  d='M365.257,67.393H95.744C42.866,67.393,0,110.259,0,163.137v134.728c0,52.878,42.866,95.744,95.744,95.744h269.513c52.878,0,95.744-42.866,95.744-95.744V163.137C461.001,110.259,418.135,67.393,365.257,67.393z M300.506,237.056l-126.06,60.123c-3.359,1.602-7.239-0.847-7.239-4.568V168.607c0-3.774,3.982-6.22,7.348-4.514l126.06,63.881C304.363,229.873,304.298,235.248,300.506,237.056z'
                )
    div.foot-1.ord-2
    div.foot-1.ord-3
    div.designer.foot-1.ord-4
      h2 Desing & Prog. By
        a(
          href='https://www.instagram.com/tako035/'
          target='_blank'
          rel='nofollow noopener'
        )
          span.designer_link TaKo